*{
    box-sizing: border-box;
}


@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat/Montserrat-VariableFont_wght.ttf') format("ttf");
}

body, html {
    background-color: #faf6e9;
    margin: 0;
    padding: 0;
    width: 100%;
    /* overflow-x: hidden; */
}

/* #navCell {
    font-family: 'Montserrat', sans-serif;
    font-weight: 550; 
    font-size: 16px;
} */


.main-info {
    display: flex;
}
.logo-info, .main-img {
    flex: 1;
    box-sizing: border-box;
    margin-top: 50px;
    /* padding: 0; */
}

.logo-info {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-left: 60px;
}

.logo-img, .h2-info, .see-all-courses {
    margin-bottom: 30px;
}

.logo-img {
    max-width: 300px;
    margin-bottom: 0px;
    margin-left: 60px;
}
.h2-info {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600; 
    font-style: italic;
    font-size: 36px;
    position: relative; 
    margin-left: 100px; 
    color: #0b8457;
}




.h3-info {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300; 
    font-style: italic;
    font-size: 19px;
    position: relative;
    text-align: justify;
    margin-left: 100px;
    margin-top: -13px;
    margin-right: 40px;
    max-width: 500px;
}

.see-all-courses {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 15px;
    background-color: #f5d061;
    border-radius: 18px;
    border: 0px;
    width: 180px;
    height: 55px;
    box-shadow: 6px 6px 0 0 black;
    cursor: pointer;
    margin-left: 100px; 
    transition: background-color 0.3s;
}
.see-all-courses:hover {
    background-color: rgba(245, 208, 97, 0.8); /* Change the alpha value as needed */
}
.button-arrow {
    max-width: 40px;
    margin-left: 10px;
}


.pushkin-img {
    max-width: 660px;
    margin-left: -50px;
}


.info-numbers {
    display: flex;
    justify-content: space-between;
    /* border-left: 2px solid black; Add a vertical line between containers */
    padding: 40px; 
  }
.container1,
.container2,
.container3,
.container4 {
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column; /* Display items in a column */
    align-items: center;
    margin-top: 40px;
}

.container1, .container2, .container3 {
    border-right: 2px solid black;
}
.container-h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 750; 
    font-size: 40px;
}
.container-h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400; 
    font-size: 19px;
    max-width: 220px;
    text-align: left;
    margin-top: -30px;
    margin-left: 40px;
}
.top-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800; 
    font-size: 29px;
    text-align: center;
}

.category-containers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container {
    width: 20%;
    box-sizing: border-box;
    padding: 8px;
    text-align: center;
    margin-top: 12px;
    margin-bottom: 15px;
    border: 3px solid #0b8457; /* Add border style */
    border-radius: 7%;
}

#img-top {
    max-width: 80%;
    height: auto;
    border-radius: 15%;
}

.text {
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400; 
    font-size: 20px;
    text-align: center;
}
.learn-more-button {
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 14px;
    background-color: #0b8457;
    border-radius: 10px;
    border: 2px;
    width: 100px;
    height: 35px;
    cursor: pointer;
    margin-top: 15px;
}
.learn-more-button:hover {
    color: rgba(245, 208, 97, 0.9);
}



.footer {
    padding: 20px;
    text-align: center;
    background: rgba(245, 208, 97, 0.2);
    width: 100%;
    bottom: 0;
  }

  